.App {
  text-align: left;
}


.buttonclass{
  background-color: #5863f8;
  color: #ffff;
  width: 260px;
  height: 60px;
  margin-left: 16px;
  font-weight: 800;
  border: 1px solid #5863f8;
}


.form{
  margin-left: 136px;
  margin-top: 43px;
}
.input{
  width: 260px;
  height: 60px;
  
}

.rooms{
  color: #5863f8;
  
  
}

.MainDiv{
  width: 811px;
  height: 190px;
 background-color: #f8f8f8;
  margin: 300px;
  padding-top: 10px;
  
}

